* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 69px;
  display: flex;
  align-items: center;
}

header > nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;

  margin: 0 auto;
  padding: 0 62px;
}

.content_logo {
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: space-between;
  width: 100%;
  max-width: 132px;

  font: normal normal bold 15px/18px Roboto Serif 20pt;
  letter-spacing: 0.32px;
  color: #ffffff;
}

.content_logo > img {
  display: block;
  max-width: 35px;
}

.content_socials {
  display: flex;
  gap: 20px;
}

main {
  padding-top: 69px;
}

.content_welcome {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: center;
  padding-top: 109px;

  height: 699px;
  background: url('assets/welcome.svg') no-repeat center bottom / cover;
}

.content_welcome > h1 {
  display: flex;

  max-width: 525px;
  text-align: center;
  font-weight: bold;
  font-size: 51px;
  line-height: 59px;
  font-family: 'Roboto Serif';
  color: #ffffff;
}

.container_bath_and_groom {
  height: 768px;
  padding-left: 62px;
  display: flex;
  align-items: center;
  background: #f4f2f3 url('assets/container_bath_and_groom.svg') no-repeat left /
    contain;
  background-position: bottom;
}

.content_bath_and_groom > h2 {
  text-align: left;
  font-weight: bold;
  font-size: 49px;
  line-height: 60px;
  font-family: 'Roboto Serif', serif;
  color: #3a342f;
}

.content_bath_and_groom > p {
  display: flex;
  width: 100%;
  max-width: 416px;
  text-align: left;

  font-size: 27px;
  line-height: 42px;
  font-family: 'Roboto';
}

.content_bath_and_groom > button {
  all: unset;
  background: #3a342f 0% 0% no-repeat padding-box;
  border-radius: 44px;
  width: 100%;
  max-width: 248px;
  height: 81px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 33px;

  font-weight: bold;
  font-size: 27px;
  line-height: 35px;
  font-family: 'Roboto';
  color: #f4f2f3;
  cursor: pointer;
}

.container_dog_black {
  width: 100%;
  height: 768px;
  background: url('assets/dog_demon.svg') no-repeat center left / cover;
  background-position: unset;
  display: flex;
  justify-content: end;
  align-items: center;
}

.content_dog_black {
  width: 100%;
  max-width: 424px;
  display: flex;
  flex-direction: column;
}

.content_dog_black > h2 {
  font-weight: bold;
  font-size: 49px;
  line-height: 60px;
  font-family: 'Roboto Serif', serif;
  color: #ffffff;
}

.content_dog_black > p {
  font: normal normal normal 27px/42px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
}

.content_dog_black > button {
  all: unset;
  background: #ffffff 0% 0% no-repeat padding-box;
  height: 81px;
  border-radius: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

  font: normal normal bold 27px/35px Roboto;
  letter-spacing: 0px;
  color: #000000;
  max-width: 248px;
  margin-top: 45px;
}

.container_support {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 112px;
}

.content_support {
  display: flex;
  justify-content: space-between;
  height: 28px;
  gap: 87px;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  font-size: 24px;

  font-family: 'Roboto Serif', serif;
  font-size: 20pt;
  color: #fd6a9a;
}

@media (max-width: 751px) {
  header {
    height: 166px;
  }

  .content_logo {
    height: 94px;
    max-width: 336px;
  }

  .content_logo > img {
    display: block;
    max-width: 94px;
  }

  .content_logo > h3 {
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    font-family: 'Roboto Serif', serif;
  }

  .content_socials {
    align-items: center;
  }

  .content_socials > img:not(:last-child) {
    display: none;
  }

  .content_socials > img {
    height: 72px;
  }

  main {
    padding-top: 166px;
  }

  .content_welcome {
    height: 1168px;
    padding-top: 96px;
    gap: 70px;
  }

  .content_welcome > h1 {
    font-size: 69px;
    line-height: 81px;
    max-width: none;
  }

  .container_bath_and_groom {
    height: 1334px;
    padding-left: 45px;
    padding-top: 180px;
    align-items: flex-start;
    background: #f4f2f3 url('assets/lion_mobile.svg') no-repeat left / cover;
  }

  .container_dog_black {
    height: 1334px;
    padding-top: 142px;
    padding-left: 45px;
    align-items: flex-start;
    justify-content: flex-start;
    background: url('assets/dog_black_mobile.svg') no-repeat center left / cover;
  }

  .container_support {
    height: 218px;
  }

  .content_support {
    width: 100%;
    max-width: 483px;

    height: auto;
    gap: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }

  .container_support_images {
    gap: 65px;
  }

  .container_support_images > img {
    object-fit: contain;
    max-width: 206px;
  }
}

.container_support_images {
  display: flex;
  justify-content: space-between;
  height: 28px;
  /* gap: 87px; */
}

.container_support_images > img {
  object-fit: contain;
  max-width: 206px;
}

footer {
  height: 314px;
  background-color: #eb4a7b;
  padding-left: 97px;
  padding-top: 84px;
  padding-bottom: 72px;
}

footer > section {
  display: flex;
  gap: 70px;
}

footer > section > div {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* background-color: red; */
}

footer > section > div > h3 {
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  font-family: 'Roboto Serif', serif;
  font-size: 20pt;
  color: #ffffff;
  margin-bottom: 16px;
}

footer > section > div > a {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-decoration: none;
}
